<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Le tue destinazioni preferite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Le tue destinazioni preferite</h1>
        {% if favorites %}
            <ul>
                {% for city in favorites %}
                    <li><a href="{{ url_for('destination', city=city) }}">{{ city }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nessuna destinazione aggiunta ai preferiti.</p>
        {% endif %}
        <br>
        <a href="{{ url_for('home') }}">Torna alla Home</a>
    </div>
</body>
</html>
