<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
</head>
<body>
  <h1>Reimposta la tua Password</h1>
  <form method="POST">
    <p>
      <label for="password">Nuova password:</label><br>
      <input type="password" name="password" required>
    </p>
    <p>
      <label for="confirm_password">Conferma password:</label><br>
      <input type="password" name="confirm_password" required>
    </p>
    <p><button type="submit">Reimposta</button></p>
  </form>
</body>
</html>
